<!DOCTYPE html>
<html>
  <head>
    <title>HogwartsBackoffice</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div>
      <% if current_wizard %>
        Hello <%= current_wizard.full_name %> |
        <%= link_to 'Sign Out', destroy_wizard_session_path, method: :delete %>
      <% else %>
        <%= link_to 'Sign In', new_wizard_session_path %>
      <% end %>
    </div>
    <div>
      <%= link_to 'Houses', houses_path %> |
      <%= link_to 'School Applications', school_applications_path %>
    </div>
    <%= yield %>
  </body>
</html>
